
.settingsName {
    padding: 2% 10%;
    margin: 2% 10% 10% 5%;
    -webkit-box-shadow: 10px 12px 18px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 18px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 12px 18px -13px rgba(0,0,0,0.75);
};