<div class="text-center avatar" ng-controller="AvatarsCtrl">
    <div class="col-sm-4">
        <h1>Create Your Avatar</h1>
        <form name="avatarForm">
            <div id="avatarName">
                <label>Avatar Name:</label>
                <input type="text" name="name"class="form-control" ng-model="newAvatar.name" required>
            </div>
            <div id="avatarURL">
                <label>Avatar URL:</label>
                <input type="text" name="url" class="form-control" ng-model="newAvatar.url" required>
            </div>
            <button id="submitButton" ng-disabled="contactForm.$invalid" ng-click="addNewAvatar()">Submit</button>
        </form>
    </div>
</div>