<div class="text-center" id="edit">
<div class="editPin container col-md-4 col-md-offset-4">
  <form class="form" name="newpin">
    <div class="row inputRow">
      <h3 class="friends-title"> Create New Pin </h3>
      <div class="">
        <input type="text" class="form-control" id="board" placeholder="Board" ng-model="updatedPin.board" ng-required="true">
      </div>
      <div class="">
        <input type="text" class="form-control" id="title" placeholder="Pin Title" ng-model="updatedPin.title" ng-required="true">
      </div>
    </div>
    <div class="row inputRow">
      <div class="">
        <input type="text" class="form-control" id="url" placeholder="URL" ng-model="updatedPin.url" ng-required="true">
      </div>
      <div class="">
        <input type="text" class="form-control" id="notes" placeholder="Notes" ng-model="updatedPin.notes" ng-required="true">
      </div>
    </div>
    <div class="row inputRow">
      <div class="">
        <input type="text" class="form-control" id="datePinned" placeholder="Date" ng-model="updatedPin.datePinned" ng-required="true">
      </div>
      
     <button type="button" class="btn btn-default" ng-click="postNewPin(updatedPin)">Save</button>
  </form>
</div>     
</div>
         
                    
   
 