<div class="text-center" id="view">
	<div id="pins">
	<h1>Pins</h1>
			<button class="btn btn-default new" ng-click="createNewPin(newPin)">New Pin</button>
	

	
	<div id="pins" class="container">
		<div ng-repeat="newPin in pins" class="col-md-4">

			<div class="thumbnail pincard">
			<div class="pin-holder">
				<h4 ng-model="pinObject.board">{{newPin.board}}</h4>
				<h4 ng-model="pinObject.title">{{newPin.title}}</h4>
				<p ng-model="pinObject.url">{{newPin.url}}</p>
				<p ng-model="pinObject.notes">{{newPin.notes}} </p>
				<p ng-model="pinObject.datePinned">{{newPin.datePinned}}</p>
				<button class="btn btn-default save col-xs-3" ng-click="submitForm(newPin)"><i class="fa fa-bookmark-o" aria-hidden="true"></i></button>
				
			</div>
		</div>
	  </div>
	</div>
</div>